COMMIT_HASH=abcd-1234-efgh-5678
HTTP_PORT=3001
WEBHOOK_SUBSCRIPTION_TOKEN=secret-token-passed-back-to-endpoint-by-meta-for-webhook-subscribing-created-on-customizing-use-case-webhook-configuration
WHATSAPP_SENDER_PHONE_NUMBER_ID=123456789012345-look-it-up-on-whatsapp-manager-phone-numbers
WHATSAPP_BUSINESS_API_TOKEN=123456789012345-generate-on-meta-business-suite-via-system-user
META_APP_SECRET=abcd1234-app-secret-on-app-settings-to-validate-requests-originate-from-meta